@model PaginatedList<QualitySouvenirs.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find souvenir by keyword: <input type="text" name="SearchString" value="@ViewData["SuppliercurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SupplierNameSortParm"]" asp-route-currentFilter="@ViewData["SupplierCurrentFilter"]">Supplier Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SupplierEmailSortParm"]" asp-route-currentFilter="@ViewData["SupplierCurrentFilter"]">Email</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SupplierContactSortParm"]" asp-route-currentFilter="@ViewData["SupplierCurrentFilter"]">Contact Person</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SupplierPhoneSortParm"]" asp-route-currentFilter="@ViewData["SupplierCurrentFilter"]">Phone</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SupplierAddressSortParm"]" asp-route-currentFilter="@ViewData["SupplierCurrentFilter"]">Address</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["SupplierCurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["SoupplierCurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["SoupplierCurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["SoupplierCurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>